@use 'styles' as *;
@use 'navigation';

body {
  background-color: var(--background-color);
  color: var(--color);
  margin: 0;
  height: 100vh;
  display: flex;
}

.navigation-menu-wrapper {
  width: vmin-clamp(98);
}

.border {
  border: var(--border);
  border-radius: vmin-clamp(6);
  width: vmin-clamp(98);
  height: vmin-clamp(93);
  margin: auto;
  overflow: hidden;
  position: relative;
}

.header {
  display: flex;
  gap: vmin-clamp(1);
  margin-left: vmin-clamp(4.2);
  margin-right: vmin-clamp(8.5);
  margin-top: vmin-clamp(0.8);
  position: relative;

  .header-2 {
    color: var(--color-alt);
    font-size: vmin-clamp(3.2);
    line-height: vmin-clamp(4.1);
    align-content: end;
  }
  .header-3 {
    color: var(--color-alt);
    font-size: vmin-clamp(2.9);
    line-height: vmin-clamp(3.9);
    align-content: end;
  }

  .header-border {
    border-top: var(--border);
    position: absolute;
    width: 100%;
    bottom: vmin-clamp(0.6);
  }
}

.address-book-glyph {
  position: relative;
  float: left;
  max-width: vmin-clamp(6);
  filter: var(--glyph-color-svg);
}

.address-counts {
  position: absolute;
  font-size: 2vmin;
  line-height: 1.6vmin;
  right: 1.3vmin;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: end;
  width: 12vmin;
  > div {
    display: flex;
    justify-content: space-between;
  }
}

section {
  margin: 0 vmin-clamp(1);
  position: relative;

  header {
    display: flex; /* aligns all child elements (flex items) in a row */
    margin-bottom: vmin-clamp(1.5);
    line-height: vmin-clamp(3.5);
    .col {
      width: vmin-clamp(7.52);
      text-align: center;
      border-bottom: var(--border);
    }
    .col.col-1 {
      width: vmin-clamp(3.2);
      border-bottom: unset;
    }
    .col.col-2 {
      border-image: linear-gradient(to left, var(--color) 50%, transparent 50%)
        100% 1;
    }
    .col.col-9 {
      flex: 1;
      text-align: start;
    }
  }

  .rows {
    max-height: vmin-clamp(66.5);
    min-height: vmin-clamp(66.5);
    overflow-y: scroll;
    scrollbar-color: var(--color);
    scrollbar-width: auto;
    position: relative;
  }
  .row {
    display: flex; /* aligns all child elements (flex items) in a row */
    position: relative;
    margin-bottom: vmin-clamp(1);
    margin-right: vmin-clamp(1.5);
    line-height: vmin-clamp(3.5);
    max-height: vmin-clamp(9.6);
    overflow: hidden;
    cursor: pointer;

    &.danger {
      .glyph,
      .glyph > span,
      .info {
        border-color: var(--color-danger) !important;
      }
      .small-box {
        background-color: var(--color-danger) !important;
      }
      .address-book-glyph {
        filter: var(--glyph-color-danger-svg) !important;
      }
    }

    &.fan {
      .info-name {
        color: var(--color-alt) !important;
      }
    }

    &.offline {
      .status {
        .glyph-color {
          color: var(--color-danger) !important;
        }
      }
    }

    .col {
      width: vmin-clamp(7.4);
      text-align: center;
      border-bottom: var(--border);

      &.box {
        flex: 0;
        align-content: end;
        padding-right: vmin-clamp(0.2);
        border: unset;
        div {
          width: vmin-clamp(3);
          line-height: vmin-clamp(2);
          text-align: center;
          background-color: var(--color);
          color: var(--background-color);
          padding-bottom: vmin-clamp(1.5);
        }
      }

      &.glyph {
        border: var(--border);
        border-right: unset;
        flex: 0;
        min-width: vmin-clamp(7);
        max-width: vmin-clamp(7);
        font-size: vmin-clamp(1.8);
        white-space: nowrap;
        color: var(--glyph-color);
        display: flex;
        flex-direction: column;
        > img {
          margin: auto;
          text-shadow: unset;
          height: vmin-clamp(6);
        }
        > span {
          text-align: center;
          border-top: var(--border);
          text-overflow: ellipsis;
          overflow: hidden;
          line-height: vmin-clamp(2.3);
        }
      }

      &.info {
        flex: 1;
        text-align: start;
        border-bottom: unset;
        border-top: var(--border);
        border-left: var(--border);
        font-size: vmin-clamp(2.75);
        padding-left: vmin-clamp(0.5);
        line-height: vmin-clamp(2.3);

        .info-title {
          display: flex;
          gap: vmin-clamp(1);
          .info-name {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
          }
        }
        .info-body {
          display: flex;
          gap: vmin-clamp(2);
          .info-a {
            flex: 1;
            font-size: vmin-clamp(2);
            line-height: vmin-clamp(1.7);
            margin-left: vmin-clamp(1);
          }
          .info-b {
            flex: 1;
            font-size: vmin-clamp(2);
            line-height: vmin-clamp(1.7);
            > div {
              display: flex;
              gap: vmin-clamp(0.69);
            }
            .glyph-color {
              color: var(--glyph-color);
            }
            .alt-color {
              color: var(--color-alt);
            }
          }
        }
      }
    }

    &::after {
      content: '▼';
      width: calc(100% - vmin-clamp(1));
      height: calc(100% - vmin-clamp(0.7));
      border: var(--border);
      border-color: var(--color-good);
      color: var(--color-good);
      position: absolute;
      font-size: vmin-clamp(2.25);
      line-height: vmin-clamp(2.25);
      padding-left: vmin-clamp(0.2);
      pointer-events: none;
      opacity: 0;
    }
    &:hover::after {
      opacity: 1;
    }
  }
}

.table-footer {
  border: var(--border);
  border-left: unset;
  border-right: unset;
  color: var(--color-alt);
  font-size: vmin-clamp(2.5);
  padding-left: vmin-clamp(0.5);
  line-height: vmin-clamp(2.5);
}

.footer {
  display: flex;
  border-bottom: var(--border);
  .footer-left {
    flex: 1 0 auto;
    max-width: vmin-clamp(72);
    min-width: vmin-clamp(72);
    > .footer-text {
      border: var(--border);
      border-left: unset;
      border-bottom: unset;
      margin-right: vmin-clamp(0.5);
      font-size: vmin-clamp(2);
      line-height: vmin-clamp(1.6);
      padding-left: vmin-clamp(0.5);
      height: vmin-clamp(4);
      overflow: hidden;
      div {
        line-height: vmin-clamp(1.6);
        animation: footer-text-anim 15s steps(1) forwards;
      }
    }
  }
  .footer-right {
    flex: 1 1 auto;
    font-size: vmin-clamp(1.6);
    color: var(--glyph-color);
    max-height: vmin-clamp(8);
    overflow: hidden;
  }
}

@keyframes footer-text-anim {
  0% {
    transform: translateY(0%);
  }
  10% {
    transform: translateY(-10%);
  }
  20% {
    transform: translateY(-20%);
  }
  30% {
    transform: translateY(-30%);
  }
  40% {
    transform: translateY(-40%);
  }
  50% {
    transform: translateY(-50%);
  }
  60% {
    transform: translateY(-60%);
  }
  70% {
    transform: translateY(-70%);
  }
  80% {
    transform: translateY(-80%);
  }
  100% {
    transform: translateY(-80%);
  } /* Hold final position */
}

.footer-buttons {
  display: flex;
  font-size: vmin-clamp(2.5);
  text-align: center;
  margin: vmin-clamp(0.5);
  gap: vmin-clamp(0.5);
  a {
    flex: 1;
    border: var(--border);
    border-radius: vmin-clamp(0.5);
    line-height: vmin-clamp(2.5);
    cursor: pointer;
    color: var(--color);
    text-decoration: unset !important;
    &:hover {
      color: var(--color-alt) !important;
    }
    &.active-button {
      color: var(--glyph-color) !important;
    }
  }
}

.scrolling-section-wrapper {
  width: vmin-clamp(87);
  border: var(--border-thin);
  margin: vmin-clamp(0.5) vmin-clamp(5);
  overflow: hidden;
}
.scrolling-section {
  display: flex;
  flex-wrap: nowrap;
  width: max-content;
  font-size: vmin-clamp(2);
  animation: move 40s infinite linear;
  line-height: vmin-clamp(1.5);
}
@keyframes move {
  to {
    transform: translateX(-50%);
  }
}
.scrolling-sectionY {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  line-height: vmin-clamp(1.4);
  font-size: vmin-clamp(2);
  animation: moveY 1.5s infinite linear;
}
@keyframes moveY {
  to {
    transform: translateY(-50%);
  }
}
