@use 'styles' as *;
@use 'navigation';

.reference {
  background-image: url('../../references/gate-ref.jpg');
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: cover;
  opacity: 0.5;
}

body {
  background-color: var(--background-color);
  color: var(--color);
  margin: 0;
  height: 100vh;
  display: flex;
}

.navigation-menu-wrapper {
  width: vmin-clamp(98);
}

.border {
  border: var(--border);
  border-radius: vmin-clamp(3);
  width: vmin-clamp(98);
  height: vmin-clamp(72);
  margin: auto;
  overflow: hidden;
  position: relative;
}

.crosshair {
  display: flex;
  width: vmin-clamp(45.1);
  align-items: center;
  justify-content: center;
  div {
    text-align: center;
    align-content: center;
    position: absolute;
    color: var(--glyph-color);
  }
}
.border.idle .crosshair .blink {
  width: vmin-clamp(16);
  height: vmin-clamp(16);
  position: absolute;
  background: radial-gradient(circle, var(--color-danger) 0%, transparent 70%);
  animation: blink 3s infinite ease;
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.chevron-box {
  border: var(--border-thin);
  width: vmin-clamp(8.6);
  height: vmin-clamp(6);
  left: vmin-clamp(81.4);
  position: absolute;
  border-radius: vmin-clamp(1.5) 0 0;
  overflow: hidden;
  text-shadow: unset !important;

  &.b1 {
    top: vmin-clamp(11);
  }
  &.b2 {
    top: vmin-clamp(19);
  }
  &.b3 {
    top: vmin-clamp(27);
  }
  &.b4 {
    top: vmin-clamp(35);
  }
  &.b5 {
    top: vmin-clamp(43);
  }
  &.b6 {
    top: vmin-clamp(51);
  }
  &.b7 {
    top: vmin-clamp(59);
  }
}

.chevron-box-labels {
  position: absolute;
  top: vmin-clamp(14.2);
  right: vmin-clamp(16.7);
  display: flex;
  flex-direction: column;
  color: var(--color-alt);
  > span {
    margin-bottom: vmin-clamp(3.8);
    line-height: vmin-clamp(4.2);
    font-size: vmin-clamp(2.6);
  }
}

.lst-code-1,
.lst-code-2 {
  position: absolute;
  bottom: vmin-clamp(15.8);
  color: var(--color-alt);
  font-size: vmin-clamp(1.8);
  span {
    font-size: vmin-clamp(2.5);
  }
}
.lst-code-1 {
  left: vmin-clamp(19.6);
}
.lst-code-2 {
  left: vmin-clamp(67.6);
}

.auth-code-label {
  position: absolute;
  bottom: vmin-clamp(0.2);
  left: vmin-clamp(17.7);
  color: var(--color-alt);
  font-size: vmin-clamp(2);
}

.auth-code {
  position: absolute;
  bottom: vmin-clamp(0.4);
  left: vmin-clamp(37);
  color: var(--color-alt);
  font-size: vmin-clamp(2.3);
  display: flex;
  div {
    width: vmin-clamp(2.3);
    text-align: center;
    border-bottom: var(--border-thin);
    border-right: var(--border-thin);
    border-color: var(--color-dark);
  }
  div:nth-child(1) {
    padding-left: vmin-clamp(3.3);
    width: vmin-clamp(6);
  }
  div:nth-child(7) {
    padding: 0 vmin-clamp(1);
    width: vmin-clamp(5);
  }
  div:nth-child(15) {
    padding-right: vmin-clamp(0.7);
    width: vmin-clamp(3);
  }
}

.system {
  position: absolute;
  bottom: vmin-clamp(0.8);
  left: vmin-clamp(78.8);
  color: var(--color-alt);
  font-size: vmin-clamp(1.1);
  display: flex;
  flex-direction: column;
}

.info-box {
  color: var(--color-danger);
  font-weight: bold;
  position: absolute;
  bottom: vmin-clamp(4.2);
  left: vmin-clamp(20.9);
  border: var(--border);
  width: vmin-clamp(53.7);
  height: vmin-clamp(7.9);
  text-align: center;
  font-size: vmin-clamp(9);
  line-height: vmin-clamp(6);
  word-spacing: vmin-clamp(14);
  letter-spacing: vmin-clamp(1.5);
  padding-left: vmin-clamp(1.3);
  animation: pulsingTextDanger 3.4s linear infinite;
}

.sidebar {
  border: var(--border);
  border-left: unset;
  border-radius: 0 vmin-clamp(2) vmin-clamp(2) 0;
  position: absolute;
  top: vmin-clamp(10.8);
  left: vmin-clamp(0);
  width: vmin-clamp(17.9);
  height: vmin-clamp(56.1);

  .keyboard {
    width: vmin-clamp(16);
    height: vmin-clamp(39);
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-content: start;
    margin: auto;
    div {
      width: vmin-clamp(3.9);
      height: vmin-clamp(3.9);
      cursor: pointer;
      border: var(--border-thin);
      border-color: rgba(0, 0, 0, 0);
      border-radius: vmin-clamp(1);
      &:hover {
        border-color: var(--color-dark);
      }
      &.disabled {
        opacity: 0.4;
      }
      img {
        width: vmin-clamp(3.6);
        height: vmin-clamp(3.6);
        filter: var(--glyph-color-svg);
      }
    }
  }
  .status {
    color: var(--color-alt);
    font-size: vmin-clamp(1.1);
    padding-left: vmin-clamp(1.5);
  }
}

.timer {
  position: absolute;
  bottom: vmin-clamp(0.7);
  left: vmin-clamp(1.4);
  font-size: vmin-clamp(4);
  border: var(--border-thin);
  width: vmin-clamp(15);
  height: vmin-clamp(3.2);
  text-align: center;
  line-height: vmin-clamp(2.3);
  overflow: hidden;
  text-overflow: ellipsis;
  animation: pulsingText 3s linear infinite;
}

.gate-name {
  position: absolute;
  top: vmin-clamp(1.7);
  left: vmin-clamp(10.9);
  font-size: vmin-clamp(3.5);
  border: var(--border-thin);
  border-color: var(--color-dark);
  width: vmin-clamp(48);
  height: vmin-clamp(4.5);
  line-height: vmin-clamp(4);
  padding-left: vmin-clamp(0.6);
  overflow: hidden;
  text-overflow: ellipsis;
}

.destination-box {
  position: absolute;
  top: vmin-clamp(1.7);
  right: vmin-clamp(1.1);
  font-size: vmin-clamp(1.9);
  border: var(--border-thin);
  border-color: var(--color-dark);
  width: vmin-clamp(36);
  height: vmin-clamp(4.5);
  line-height: vmin-clamp(6.2);
  text-align: center;
  color: white;
}
.destination {
  position: absolute;
  top: vmin-clamp(1.7);
  right: vmin-clamp(1.2);
  font-size: vmin-clamp(3.5);
  width: vmin-clamp(36.3);
  height: vmin-clamp(3.2);
  line-height: vmin-clamp(3);
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
}
.destination-glyphs {
  position: absolute;
  top: vmin-clamp(1.7);
  right: vmin-clamp(1.2);
  width: vmin-clamp(36.3);
  height: vmin-clamp(3.2);
  overflow: hidden;
  display: flex;
  justify-content: center;
  img {
    width: vmin-clamp(2.5);
    filter: var(--glyph-color-svg);
  }
}

.chevron-states {
  font-size: vmin-clamp(2);
  line-height: vmin-clamp(1.6);
  border-collapse: collapse;
  table-layout: fixed;
  width: vmin-clamp(18);

  .chevron-open,
  .chevron-locked {
    width: vmin-clamp(5.2);
    > div {
      border: vmin-clamp(0.2) solid var(--color-dark);
      width: vmin-clamp(3.5);
      height: vmin-clamp(1);
      background-color: #00000000;
      transition: background-color 0.5s ease;
    }
  }

  .chevron-open > div {
    background-color: var(--color-danger);
  }

  .chevron-number {
    color: var(--color-alt);
    width: vmin-clamp(2);
  }
  .chevron-state {
    color: var(--color-good);
    font-size: vmin-clamp(1.3);
    visibility: hidden;
  }

  tr {
    height: vmin-clamp(2.1);
  }
  td {
    padding-left: vmin-clamp(1.6);
  }

  tr.locked {
    .chevron-open > div {
      background-color: #00000000;
    }
    .chevron-locked > div {
      background-color: var(--color-good);
    }
    .chevron-state {
      visibility: visible;
    }
  }
}

.dial-append {
  position: relative;
  top: 0;
  left: 0;
}

// IMAGES--------------------------------------------------------------------------------

div.shield {
  position: absolute;
  top: vmin-clamp(1.5);
  left: vmin-clamp(1.5);
  width: vmin-clamp(8.8);
  height: vmin-clamp(8.8);
  background-image: url('../images/shield.gif');
  background-size: contain;
  background-blend-mode: overlay;
  filter: brightness(2) contrast(0.5);
  border: var(--border);
  border-right: unset;
  border-radius: vmin-clamp(2) 0 0 vmin-clamp(1);
}
div.shield-buddy {
  position: absolute;
  top: vmin-clamp(2.3);
  left: vmin-clamp(9.5);
  width: vmin-clamp(8);
  height: vmin-clamp(8);
  border-bottom: var(--border);
  text-shadow: unset !important;
}

div.clip-1 {
  border-color: var(--color-danger);
  clip-path: inset(0 100% 0 0); /* Hidden initially (right side at 100%) */
  transition: clip-path 0.8s linear;
}
div.clip-2 {
  border-color: var(--color-danger);
  clip-path: inset(0 0 0 100%); /* Hidden initially (right side at 100%) */
  transition: clip-path 0.8s linear;
}
div.locked {
  clip-path: inset(0 0 0 0);
}

div:not(.active) {
  .ring-1 {
    circle {
      fill: none !important;
    }
  }
}

img.glyph {
  text-shadow: unset;
  filter: var(--glyph-color-svg);
  top: vmin-clamp(19);
  left: vmin-clamp(33.1);
  height: vmin-clamp(30);
  position: absolute;
  transition-property: top, left, height;
  transition-duration: 0.8s;
  transition-timing-function: ease;
  animation: revealAnimation 0.8s forwards ease;
  &.locked {
    left: vmin-clamp(82.2);
    height: vmin-clamp(6.6);

    &.g1 {
      top: vmin-clamp(10.7);
    }
    &.g2 {
      top: vmin-clamp(18.7);
    }
    &.g3 {
      top: vmin-clamp(26.7);
    }
    &.g4 {
      top: vmin-clamp(34.7);
    }
    &.g5 {
      top: vmin-clamp(42.7);
    }
    &.g6 {
      top: vmin-clamp(50.7);
    }
    &.g7 {
      top: vmin-clamp(58.7);
    }
    &.g8 {
      top: vmin-clamp(80);
    }
    &.g9 {
      top: vmin-clamp(80);
    }
  }
  &.blur {
    filter: blur(vmin-clamp(1)) var(--glyph-color-svg);
  }
}

div.chevron-link {
  position: absolute;
  left: vmin-clamp(0);
  height: vmin-clamp(73);
  pointer-events: none;
  text-shadow: unset !important;
  animation: none;
}
img.gate,
div.gate {
  position: absolute;
  left: vmin-clamp(25.6);
  top: vmin-clamp(12.9);
  height: vmin-clamp(44.8);
}

@keyframes revealAnimation {
  from {
    transform: scale(0.1);
  }
  to {
    transform: scale(1);
  }
}

@keyframes pulsingText {
  0% {
    color: rgb(from var(--color) r g b / 100%);
  }
  50% {
    color: rgb(from var(--color) r g b / 100%);
  }
  80% {
    color: rgb(from var(--color) r g b / 40%);
  }
  95% {
    color: rgb(from var(--color) r g b / 60%);
  }
  100% {
    color: rgb(from var(--color) r g b / 100%);
  }
}

@keyframes pulsingTextDanger {
  0% {
    color: rgb(from var(--color-danger) r g b / 100%);
  }
  50% {
    color: rgb(from var(--color-danger) r g b / 100%);
  }
  80% {
    color: rgb(from var(--color-danger) r g b / 60%);
  }
  95% {
    color: rgb(from var(--color-danger) r g b / 80%);
  }
  100% {
    color: rgb(from var(--color-danger) r g b / 100%);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.rotating {
  animation: spin 8s ease-in infinite;
}
.slow-rotate {
  transition: transform 0.4s ease-out;
}
