@use 'sass:math';
$max-viewport: 1000;

@function vmin-clamp($vmin) {
  // $vmin = how many vmin you want (ex: vmin-clamp(5, $max-viewport))
  // $max-viewport = maximum viewport size in pixels (ex: 1200)

  $vmin-px-at-max: math.div(
    $vmin * $max-viewport,
    100
  ); // calculate how big vmin gets at max viewport

  @return clamp(-100px, #{$vmin}vmin, #{$vmin-px-at-max}px);
}

:root {
  /*! UPDATE COLORS HERE !!! -------------------------------------------------------------------------------------- */
  --color: #37bfde; //#51feff;
  --color-dark: #4a7297;
  --color-danger: #c70036;
  --color-good: #07ff0b;
  --color-alt: white;
  --background-color: #020f25;

  --glyph-color: #fffea5;
  /*! Calculate glyph-color-svg here: https://codepen.io/sosuke/pen/Pjoqqp */
  --glyph-color-svg: invert(100%) sepia(21%) saturate(5367%) hue-rotate(312deg)
    brightness(111%) contrast(103%);
  --glyph-color-danger-svg: invert(16%) sepia(84%) saturate(3541%)
    hue-rotate(331deg) brightness(81%) contrast(117%);

  --color-wormhole-danger-1: yellow;
  --color-wormhole-danger-2: orange;
  --color-wormhole-danger-3: red;
  --color-wormhole-1: royalblue;
  --color-wormhole-2: cyan;
  --color-wormhole-3: cornflowerblue;
  //---------------------------------------------------------------------------------------

  --border: solid clamp(0px, 0.5vmin, 5px) var(--color);
  --border-thin: solid clamp(0px, 0.3vmin, 3px) var(--color);
}

* {
  box-sizing: border-box;
}

.genos-font {
  font-family: 'Genos', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: vmin-clamp(3.5);

  // SCSS Cannot calculate values in :root {}, so calculate them here and manually place them in the vars
  // height: vmin-clamp(0.5);
  // height: vmin-clamp(0.3);
}

.hidden {
  display: none !important;
}

a:link {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
}

a:visited {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
}
