:root {
  --color: #51feff;
  --color-danger: #c70036;
  --color-good: #07ff0b;
  --color-alt: white;
  --background-color: #020f25;
  --glyph-color: #fffea5;
  --border: solid clamp(0px, 0.5vmin, 5px) var(--color);
  --border-thin: solid clamp(0px, 0.3vmin, 3px) var(--color);
}

.genos-font {
  font-family: "Genos", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: clamp(-100px, 3.5vmin, 35px);
}

.hidden {
  display: none !important;
}

.reference {
  background-image: url("../references/gate-ref.jpg");
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: cover;
  opacity: 0.5;
}

body {
  background-color: var(--background-color);
  color: var(--color);
  margin: 0;
  height: 100vh;
  display: flex;
}

.border {
  border: var(--border);
  border-radius: clamp(-100px, 6vmin, 60px);
  width: calc(clamp(-100px, 100vmin, 1000px) - clamp(-100px, 2vmin, 20px));
  height: calc(clamp(-100px, 100vmin, 1000px) - clamp(-100px, 28vmin, 280px));
  margin: auto;
  overflow: hidden;
  position: relative;
}

.crosshair {
  position: absolute;
  top: 31.5vmin;
  left: 48.2vmin;
  color: var(--glyph-color);
}

.chevron-box {
  border: var(--border-thin);
  width: 8.6vmin;
  height: 6vmin;
  left: 82.2vmin;
  position: absolute;
  border-radius: 1.5vmin 0 0;
  overflow: hidden;
}
.chevron-box.b1 {
  top: 11vmin;
}
.chevron-box.b2 {
  top: 19vmin;
}
.chevron-box.b3 {
  top: 27vmin;
}
.chevron-box.b4 {
  top: 35vmin;
}
.chevron-box.b5 {
  top: 43vmin;
}
.chevron-box.b6 {
  top: 51vmin;
}
.chevron-box.b7 {
  top: 59vmin;
}

div.shield {
  position: absolute;
  top: 2vmin;
  left: 2vmin;
  width: 8vmin;
  height: 8vmin;
  background-image: url("../images/shield.gif");
  background-size: contain;
  background-blend-mode: overlay;
  filter: brightness(2) contrast(0.5);
}

img.chevron.locked,
img.chevron-link.locked {
  filter: invert(12%) sepia(100%) saturate(5450%) hue-rotate(338deg) brightness(77%) contrast(105%) !important;
}

div.clip-1 {
  border-color: var(--color-danger);
  clip-path: inset(0 100% 0 0); /* Hidden initially (right side at 100%) */
  transition: clip-path 0.3s linear;
}

div.clip-2 {
  border-color: var(--color-danger);
  clip-path: inset(0 0 0 100%); /* Hidden initially (right side at 100%) */
  transition: all 0.3s linear;
}

div.locked {
  clip-path: inset(0 0 0 0);
}

img.glyph {
  filter: invert(100%) sepia(21%) saturate(5367%) hue-rotate(312deg) brightness(111%) contrast(103%);
  top: 19vmin;
  left: 34vmin;
  height: 30vmin;
  position: absolute;
  transition: all 2s ease;
  animation: revealAnimation 0.5s forwards ease;
}
img.glyph.locked {
  left: 83.5vmin;
  height: 7vmin;
}
img.glyph.locked.g1 {
  top: 10.7vmin;
}
img.glyph.locked.g2 {
  top: 18.7vmin;
}
img.glyph.locked.g3 {
  top: 26.7vmin;
}
img.glyph.locked.g4 {
  top: 34.7vmin;
}
img.glyph.locked.g5 {
  top: 42.7vmin;
}
img.glyph.locked.g6 {
  top: 50.7vmin;
}
img.glyph.locked.g7 {
  top: 58.7vmin;
}
img.glyph.blur {
  filter: blur(1vmin) invert(100%) sepia(21%) saturate(5367%) hue-rotate(312deg) brightness(111%) contrast(103%);
}

img.chevron-link {
  position: absolute;
  left: 0vmin;
  height: 73vmin;
  filter: invert(91%) sepia(9%) saturate(5141%) hue-rotate(153deg) brightness(105%) contrast(110%);
}

div.chevron-link {
  position: absolute;
  left: 0vmin;
  height: 73vmin;
}

img.gate {
  position: absolute;
  left: 25.9vmin;
  top: 12.5vmin;
  height: 45.5vmin;
}

@keyframes revealAnimation {
  from {
    transform: scale(0.1);
  }
  to {
    transform: scale(1);
  }
}

/*# sourceMappingURL=home.css.map */
