:root {
  --color: #37BFDE;
  --color-dark: #4A7297;
  --color-danger: #c70036;
  --color-good: #07ff0b;
  --color-alt: white;
  --background-color: #020f25;
  --glyph-color: #fffea5;
  --border: solid clamp(0px, 0.5vmin, 5px) var(--color);
  --border-thin: solid clamp(0px, 0.3vmin, 3px) var(--color);
  --color-wormhole-danger-1: yellow;
  --color-wormhole-danger-2: orange;
  --color-wormhole-danger-3: red;
  --color-wormhole-1: royalblue;
  --color-wormhole-2: cyan;
  --color-wormhole-3: cornflowerblue;
}

.genos-font {
  font-family: "Genos", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: clamp(-100px, 3.5vmin, 35px);
}

.hidden {
  display: none !important;
}

.reference {
  background-image: url("../references/gate-ref.jpg");
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: cover;
  opacity: 0.5;
}

body {
  background-color: var(--background-color);
  color: var(--color);
  margin: 0;
  height: 100vh;
  display: flex;
}

.border {
  border: var(--border);
  border-radius: clamp(-100px, 3vmin, 30px);
  width: calc(clamp(-100px, 100vmin, 1000px) - clamp(-100px, 2vmin, 20px));
  height: calc(clamp(-100px, 100vmin, 1000px) - clamp(-100px, 28vmin, 280px));
  margin: auto;
  overflow: hidden;
  position: relative;
}

.crosshair {
  position: absolute;
  top: 32.5vmin;
  left: 48.2vmin;
  color: var(--glyph-color);
}

.chevron-box {
  border: var(--border-thin);
  width: 8.6vmin;
  height: 6vmin;
  left: 82.2vmin;
  position: absolute;
  border-radius: 1.5vmin 0 0;
  overflow: hidden;
}
.chevron-box.b1 {
  top: 11vmin;
}
.chevron-box.b2 {
  top: 19vmin;
}
.chevron-box.b3 {
  top: 27vmin;
}
.chevron-box.b4 {
  top: 35vmin;
}
.chevron-box.b5 {
  top: 43vmin;
}
.chevron-box.b6 {
  top: 51vmin;
}
.chevron-box.b7 {
  top: 59vmin;
}

.chevron-box-labels {
  position: absolute;
  top: 14.1vmin;
  right: 17vmin;
  display: flex;
  flex-direction: column;
  gap: 3.9vmin;
  color: var(--color-alt);
}

.lst-code-1,
.lst-code-2 {
  position: absolute;
  bottom: 15.8vmin;
  color: var(--color-alt);
  font-size: 1.8vmin;
}
.lst-code-1 span,
.lst-code-2 span {
  font-size: 2.5vmin;
}

.lst-code-1 {
  left: 19.6vmin;
}

.lst-code-2 {
  left: 67.6vmin;
}

.auth-code-label {
  position: absolute;
  bottom: 0.2vmin;
  left: 17.7vmin;
  color: var(--color-alt);
  font-size: 2vmin;
}

.auth-code {
  position: absolute;
  bottom: 0.4vmin;
  left: 37vmin;
  color: var(--color-alt);
  font-size: 2.3vmin;
  display: flex;
}
.auth-code div {
  width: 2.1vmin;
  text-align: center;
  border-bottom: var(--border-thin);
  border-right: var(--border-thin);
  border-color: var(--color-dark);
}
.auth-code div:nth-child(1) {
  padding-left: 4vmin;
}
.auth-code div:nth-child(7) {
  padding: 0 1vmin;
}
.auth-code div:nth-child(15) {
  padding-right: 0.7vmin;
}

.system {
  position: absolute;
  bottom: 1vmin;
  left: 79.8vmin;
  color: var(--color-alt);
  font-size: 1.1vmin;
  display: flex;
  flex-direction: column;
}

.info-box {
  position: absolute;
  bottom: 4.5vmin;
  left: 20.9vmin;
  border: var(--border);
  width: 51.9vmin;
  height: 7vmin;
  text-align: center;
  font-size: 9vmin;
  line-height: 6vmin;
  word-spacing: 14vmin;
  letter-spacing: 2.4vmin;
  padding-left: 2vmin;
}

.sidebar {
  border: var(--border);
  border-left: unset;
  border-radius: 0 2vmin 2vmin 0;
  position: absolute;
  top: 10.8vmin;
  left: 0vmin;
  width: 17.9vmin;
  height: 56.1vmin;
}
.sidebar .keyboard {
  width: 16vmin;
  height: 39vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-content: start;
  margin: auto;
}
.sidebar .keyboard img {
  width: 3.3vmin;
  height: 3.3vmin;
  filter: invert(100%) sepia(21%) saturate(5367%) hue-rotate(312deg) brightness(111%) contrast(103%);
  cursor: pointer;
  border: var(--border-thin);
  border-color: rgba(0, 0, 0, 0);
  border-radius: 1vmin;
}
.sidebar .keyboard img:hover {
  border-color: var(--color-good);
}
.sidebar .keyboard img.disabled {
  opacity: 0.4;
}
.sidebar .status {
  color: var(--color-alt);
  font-size: 1.1vmin;
  padding-left: 1.5vmin;
}

.timer {
  position: absolute;
  bottom: 0.7vmin;
  left: 1.4vmin;
  font-size: 4vmin;
  border: var(--border-thin);
  width: 15vmin;
  height: 3.2vmin;
  text-align: center;
  line-height: 3vmin;
  overflow: hidden;
  text-overflow: ellipsis;
}

.gate-name {
  position: absolute;
  top: 1.7vmin;
  left: 10.9vmin;
  font-size: 3.5vmin;
  border: var(--border-thin);
  border-color: var(--color-dark);
  width: 48vmin;
  height: 4.5vmin;
  line-height: 4vmin;
  padding-left: 0.6vmin;
  overflow: hidden;
  text-overflow: ellipsis;
}

.destination-box {
  position: absolute;
  top: 1.7vmin;
  right: 1.1vmin;
  font-size: 1.9vmin;
  border: var(--border-thin);
  border-color: var(--color-dark);
  width: 36vmin;
  height: 4.5vmin;
  line-height: 7.1vmin;
  text-align: center;
  color: white;
}

.destination {
  position: absolute;
  top: 1.7vmin;
  right: 11.4vmin;
  font-size: 3.5vmin;
  width: 15vmin;
  height: 3.2vmin;
  line-height: 3vmin;
  text-align: center;
}

.dial-append {
  position: absolute;
  top: 0;
  left: 0;
}

div.shield {
  position: absolute;
  top: 1.5vmin;
  left: 1.5vmin;
  width: 8vmin;
  height: 8vmin;
  background-image: url("../images/shield.gif");
  background-size: contain;
  background-blend-mode: overlay;
  filter: brightness(2) contrast(0.5);
  border: var(--border);
  border-right: unset;
  border-radius: 2vmin 0 0 1vmin;
}

div.shield-buddy {
  position: absolute;
  top: 1.9vmin;
  left: 9.9vmin;
  width: 8vmin;
  height: 8vmin;
  border-bottom: var(--border);
}

div.clip-1 {
  border-color: var(--color-danger);
  clip-path: inset(0 100% 0 0); /* Hidden initially (right side at 100%) */
  transition: clip-path 0.8s linear;
}

div.clip-2 {
  border-color: var(--color-danger);
  clip-path: inset(0 0 0 100%); /* Hidden initially (right side at 100%) */
  transition: all 0.8s linear;
}

div.locked {
  clip-path: inset(0 0 0 0);
}

div:not(.active) .ring-1 circle {
  fill: none !important;
}

img.glyph {
  filter: invert(100%) sepia(21%) saturate(5367%) hue-rotate(312deg) brightness(111%) contrast(103%);
  top: 19vmin;
  left: 34vmin;
  height: 30vmin;
  position: absolute;
  transition: all 2s ease;
  animation: revealAnimation 0.5s forwards ease;
}
img.glyph.locked {
  left: 83.5vmin;
  height: 7vmin;
}
img.glyph.locked.g1 {
  top: 10.7vmin;
}
img.glyph.locked.g2 {
  top: 18.7vmin;
}
img.glyph.locked.g3 {
  top: 26.7vmin;
}
img.glyph.locked.g4 {
  top: 34.7vmin;
}
img.glyph.locked.g5 {
  top: 42.7vmin;
}
img.glyph.locked.g6 {
  top: 50.7vmin;
}
img.glyph.locked.g7 {
  top: 58.7vmin;
}
img.glyph.blur {
  filter: blur(1vmin) invert(100%) sepia(21%) saturate(5367%) hue-rotate(312deg) brightness(111%) contrast(103%);
}

div.chevron-link {
  position: absolute;
  left: 0vmin;
  height: 73vmin;
  pointer-events: none;
}

img.gate,
div.gate {
  position: absolute;
  left: 25.9vmin;
  top: 12.5vmin;
  height: 45.5vmin;
}

@keyframes revealAnimation {
  from {
    transform: scale(0.1);
  }
  to {
    transform: scale(1);
  }
}

/*# sourceMappingURL=home.css.map */
